@import '../../../styles/settings.scss';

.root {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0 150px;
}

.voices {
  margin: 60px 0;
}

.first_line {
  margin-top: 0;
}

.last_line {
  margin-bottom: 0;
}

