@import '../../../styles/settings.scss';

.root {
  position: relative;
  text-align: center;
  font-size: 30px;
}

.root::after {
  position: absolute;
  content: '';
  background: $main-color;
  width: 100px;
  height: 6px;
  bottom: -10px;
  left: 50%;
  transform: translatex(-50%);
}
