@import '../../../styles/settings.scss';

.root {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.photo {
  width: 100%;
}

.photo_title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.root:hover {
  .photo_title {
    display: block;
  }

  .photo {
    opacity: 0.3;
  }
}

