@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flex-justify-centered {
    display: flex;
    justify-content: center;
}

@mixin flex-align-centered {
    display: flex;
    align-items: center;
}

@mixin flex-aligned-center-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-aligned-center-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 3 * $spacing-unit;
    background-color: $main-color;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3 * $spacing-unit;
    box-shadow: inset 0 0 2 * $spacing-unit $overlay;
    -webkit-box-shadow: inset 0 0 2 * $spacing-unit $overlay;
    background-color: $scrollbar-color;
  }
}

@mixin text-paragraph {
  line-height: 1.5em;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}

@mixin focus-shadow {
    outline: none;
    box-shadow: 0.5 * $spacing-unit $spacing-unit 2 * $spacing-unit
      $secondary-color;
  }