@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flex-justify-centered {
    display: flex;
    justify-content: center;
}

@mixin flex-align-centered {
    display: flex;
    align-items: center;
}

@mixin flex-aligned-center-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}