@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');

/* SPACINGS */
$spacing-unit: 4px;

/* COLORS */
$main-color: black;
$positive-color: #057c09;
$negative-color: #ce0018;
$secondary-color: white;
$facebook-color: #3b5998;
$youtube-color: #b2071d;
$disabled-color: grey;
$instagram-color: linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
$overlay: rgba(0, 0, 0, 0.7);
$overlay-gallery: rgba(0, 0, 0, 0.9);
$scrollbar-color: #555;

/* FONTS */
$font-size-title: 50px;
$font-size-large: 40px;
$font-size-semi-large: 35px;
$font-size-medium: 30px;
$font-size-semi-medium: 25px;
$font-size-paragraph: 20px;
$font-size-paragraph-small: 15px;
$font-size-mobile-small: 13px;
$main-font: 'Open Sans', sans-serif;
$logo-font: 'Abril Fatface', cursive;