@import "settings.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 10px;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */

  #root {
    height: 100%;
  }
}

body::-webkit-scrollbar { /* Hide scrollbar for Chrome */
  display: none;
}
