@import '../../../styles/settings.scss';

// .root {
// }

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navigation_item {
  display: inline-block;
}

.navigation_link {
  color: $secondary-color;
  text-decoration: none;
  padding-bottom: 2px;
  font-size: 25px;
}

.active {
  border-bottom: 3px solid $secondary-color;
}
