@import '../../../styles/settings.scss';

// .root {
// }

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  li:last-of-type {
    margin-right: 0;
  }
}

.navigation_item {
  display: inline-block;
  margin-right: 30px;
}

.navigation_link {
  color: $secondary-color;
  text-decoration: none;
  padding-bottom: 2px;
  font-size: 25px;
}

.active {
  border-bottom: 3px solid $secondary-color;
}
